name: CI

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install dependencies
        run: npm install --include=dev

      - name: Run linter
        run: npm run lint

  test:
    name: Test
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          UV_THREADPOOL_SIZE=$(($(nproc --all) - 1)) \
          docker compose up --always-recreate-deps --build --force-recreate -d --wait

      - name: Run tests with coverage
        run: docker compose exec -T http-server npm run test

      - name: Stop server and collect logs
        if: always()
        run: docker compose down

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/lcov.info
          disable_search: true
          flags: unittests
          verbose: true
          fail_ci_if_error: false
        continue-on-error: true
        if: always() && github.repository != 'private'

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: ./coverage
          retention-days: 30
        if: always()
